.search {
  width: 15vw;
  padding: 5px 17px;
  border: 1px solid grey;
  /* background: #f7f8fd; */
  border-radius: 5px;
}

h2,
.search{
  display: inline-block;
}

.space{
  display: flex;
  justify-content: space-between;
}

.button:hover{
  cursor: pointer;
}

.card:hover{
  transform: scale(0.9);
}
